* {

    box-sizing: border-box;
}

@font-face{
    font-family: 'my font';
    src: url('')format('');
}

body{
    margin: 0;
    font-family: '';
    background-color: #d3d3d3;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    background-color: #fff;
    color: #222;
    border-bottom: 1px solid #ddd;

}
.logo
{
    display: flex;
    gap: 19px;

}
nav a{
    text-decoration: none;
    color: #333;
    padding-bottom: 2px;
    padding: 11px;
    transition: 0.3;
}
nav a:hover{
    color: #000;
    border-bottom: 1px solid #000;

}
.search input 
{
    padding: 6px 11px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;

    transition: 0.3s;

}
.search input :focus{
    border-color: #888;
}
/*mobile view */
@media (max-width :768px)
{
    header
    {
        flex-direction: column;
        gap: 11px;
        text-align: center;

    }
    nav{
        flex-direction: column;
        
    }
    .search input{
        width: 90%;
        margin-top: 11px;
    }
}

